body{
    margin: 0px;
    font-family: 'Hanalei Fill', cursive;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.name{
    color: orange;
    background-color: peachpuff;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 10px;
}
.buttons{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato); 
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
}
p{
    color: dimgray;
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;}
    
.orange{
    color: orange;
}
.box{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 300px;
    background-color: white;
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#border1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#border2{
    border-left: 7px solid cyan;
    border-image: linear-gradient(180deg, lightblue, cyan);
    border-image-slice: 1;
}
footer {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}